*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.png
.jpg
.PNG
# Package Files #
*.jar
*.war
*.ear
/MonopattinoAirway/images/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/TicketProject/nbproject/private/
/TicketProject/build/
/TicketProject/dist/
/bin/
/MonopattinoAirway/build/
/MonopattinoAirway/dist/
/MonopattinoAirway/nbproject/private/
